@use "../abstracts";
.home {
    padding-bottom: 39px;
    
    &__container {
        margin-top: 40px;

        @include abstracts.screen(md) {
            margin-top: 30px;
        }
    }

    &__heading {
        color: var(--home-heading-color);
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 141.667%;

        @include abstracts.screen(sm) {
            font-size: 2.2rem;
            line-height: 145.455%;
        }
    }

    &__cate {
        --grid-gutter-x: 51px;
        @include abstracts.screen(lg) {
            --grid-gutter-x: 24px;
        }

        @include abstracts.screen(lg) {
            --grid-gutter-y: 20px;
        }

        &-wrap {
            display: block;
            height: 100%;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 30px;
    }
}
