@use "../abstracts";
html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(8%) sepia(11%) saturate(3088%) hue-rotate(210deg) brightness(100%)
        contrast(97%);
    --body-bg: #f6f6f6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);

    // Header
    --header-act-dropdown-bg: #fff;
    --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
    --header-act-dropdown-border-color: #D2D1D6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    // Cate item
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item--title: #000;

    // Buttons
    --filter-btn-color: #6c6c72;
    --filter-btn-bg: #fff;
    --like-btn-bg: #fff;

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.2);
    --product-card-title-color: #1a162e;

    // Filter form
    --filter-form-bg: #fff;
    --filter-form-shadow: rgba(200, 200, 200, 0.4);
    --form-tag-bg: #f8f8fb;

    // Auth
    --auth-content-bg: #fff;
    --form-placeholder-color: #d2d1d6;

    // Product detail
    --product-detail-bg: #fff;
    --prod-detail-info-bg: #f6f6f6;
    --prod-info-tag-bg: #ededf6;

    // Breadcrumbs detail
    --breadcrumbs-bg: #f6f6f6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.2);

    // Search bar
    --search-bar-bg: #fff;
    --search-bar-input-plahol-color: #9e9da8;

    // Review card
    --review-card-bg: #fafafd;

    // Text content
    --text-content-hr-bg: #ebebeb;

    // Checkout
    --checkout-breadcrumbs-bg: #fff;
    --checkout-cart-info-bg: #fff;
    --checkout-cart-info-shadow: rgba(237, 237, 246, 0.2);
    --checkout-border-color: #d2d1d6;
    --checkout-gift-shadow: rgba(237, 237, 246, 0.2);

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }

    @include abstracts.screen(md) {
        --cate-item-bg: #fff;

        --auth-intro-bg: #fff;

        --breadcrumbs-bg: #fff;

        --product-detail-bg: #fafafd;
        --prod-info-container-bg: #fff;
        --prod-detail-info-bg: transparent;
        --review-card-bg: #fff;
    }
}
