%flexItemsCenter {
    display: flex;
    align-items: center;
}

.header {
    background: #eee;
}

.top-bar {
    @extend %flexItemsCenter;
}

.navbar {
    margin-left: 144px;

    &__list {
        @extend %flexItemsCenter;
        column-gap: 30px;
    }

    &__link {
        @extend %flexItemsCenter;

        column-gap: 6px;

        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__arrow {
        margin-top: 3px;
    }
}

.top-act {
    @extend %flexItemsCenter;

    column-gap: 20px;

    padding: 30px 0;
    margin-left: auto;

    &__group {
        @extend %flexItemsCenter;


        min-width: 50px;
        height: 50px;

        border-radius: 8px;
        background: #fff;
        box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
    }

    &__group--single &__btn {
        padding: 0;
    }

    &__btn {
        @extend %flexItemsCenter;

        justify-content: center;
        column-gap: 10px;

        width: 100%;
        height: 100%;
        padding: 10px 20px;

        cursor: pointer;
    }

    &__title {
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 146.667%;
    }

    &__separate {
        width: 1px;
        height: 30px;

        background-color: #ededf6;
    }

    &__avatar {
        display: block;

        width: 50px;
        height: 50px;

        border-radius: 8px;

        cursor: pointer;
    }
}
