.message {
    width: 100%;
    padding: 14px;
    border-radius: 10px;

    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    
    &--success {
        background: rgba(39, 243, 117, 0.2);
        border: 1.5px solid #46a05c;
    }
}