@use "../abstracts";

*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    --top-act-group-separate: #EDEDF6;
}

body {
    font-size: 1.6rem;
    font-family: "Gordita", sans-serif;
    color: var(--text-color);
    background-color: var(--body-bg);
}

a {
    display: inline-block;
    text-decoration: none;
}

a,
img,
button,
input,
select,
textarea {
    font-family: inherit;
    color: inherit;
    padding: 0;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

input {
    background-color: transparent;
}

button {
    border: none;
    outline: none;

    background-color: transparent;
    cursor: pointer;
}

.icon {
    filter: var(--icon-color);
}

.container {
        @include abstracts.screen(sm) {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }
    }

