<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col">
                <a href="./" class="logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img" />
                    <h1 class="logo__title">grocerymart</h1>
                </a>

                <div class="footer__contact">
                    <a href="tel:+7 (495) 737-01-01" class="footer__link"
                        ><img src="./assets/icons/phone.svg" alt="" class="icon" /> +7 (495) 737-01-01</a
                    >
                    <a href="mailto:hello.me@nft.com" class="footer__link"
                        ><img src="./assets/icons/email.svg" alt="" class="icon" />hello.me@nft.com</a
                    >
                    <a href="#!" class="footer__link"
                        ><img src="./assets/icons/address.svg" alt="" class="icon" />16122 Collins Street West Victoria
                        8265 Australia</a
                    >
                </div>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">Explore</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">My Account</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">List a Item</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">FAQs</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">Explore</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">My Account</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">List a Item</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">FAQs</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">Explore</h3>
                <ul class="footer__list">
                    <li>
                        <a href="#!" class="footer__link">My Account</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">List a Item</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">FAQs</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>

            <div class="footer__col">
                <h3 class="footer__heading">Newsletter</h3>
                <form action="" class="footer__form">
                    <input
                        class="footer__form-input"
                        type="email"
                        name="email"
                        placeholder="Your Email Address"
                        required
                        autocomplete="off"
                    />
                    <button type="submit" class="footer__form-btn btn btn--primary">Subscribe</button>
                </form>

                <div class="footer__social">
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/fb.svg" alt="" class="footer__social-icon icon" />
                    </a>
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon icon" />
                    </a>
                    <a href="#!" class="footer__social-link">
                        <img src="./assets/icons/ig.svg" alt="" class="footer__social-icon icon" />
                    </a>
                </div>
            </div>
        </div>

        <div class="footer__copyright">
            <p>&copy; 2023 grocerymart. All rights reserved.</p>
        </div>
    </div>
</div>
